body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

/*Top container is relative because we want 
the bottom cloud positoining to be relative 
to the div and not the body*/
.top-container{
    background-color: #C8E3D4;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    
}

.bottom-container{
    
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.footer-link{
    color: #66BFBF;
}

.luke-pfp{
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-top: 100px;
}

.pro{
    text-decoration: underline #66BFBF;
    font-weight: normal;
}

.pro2{
    font-weight: normal;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

hr{
    border-color: #C8C6C6;
    border-style: dotted none none;
    height: 0px;
    border-width: 5px;
    width: 5%;
    margin: 100px auto 100px auto;
}

.cloud-computing-pic{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.gaming-pic{
    width: 25%;
    float: right;
    margin-left: 30px;

}

.pfp-text{
    margin: auto 80px auto 80px;
    padding-left: 25%;
    padding-right: 25%;
}

.cloud-text{
    float: left
}

.gaming-text{
    clear: right
}